.marker-color-red {
  background-color: red;
}
.marker-color-green {
  background-color: green;
}
.marker-color-blue {
  background-color: blue;
}
.marker-color-orange {
  background-color: orange;
}
.marker-color-yellow {
  background-color: yellow;
}
.marker-color-lightgray {
  background-color: lightgray;
}
.marker-color-black {
  background-color: black;
}
.marker-color-purple {
  background-color: purple;
}
.marker-color-pink {
  background-color: pink;
}
.marker-color-cyan {
  background-color: cyan;
}
.marker-color-brown {
  background-color: brown;
}
.marker-color-olive {
  background-color: olive;
}
.marker-color-yellowGreen {
  background-color: yellowGreen;
}
.marker-color-peackPuff {
  background-color: peackPuff;
}
.marker-color-salmon {
  background-color: salmon;
}
.marker-color-khaki {
  background-color: khaki;
}
.marker-color-thistle {
  background-color: thistle;
}
